# Ignore CSV data files
data/*.csv

# Ignore pickle model files
models/*.pkl

# Ignore temporary files or checkpoints (optional)
*.ipynb_checkpoints/

# Ignore environment and dependency tracking files
environment.yml
requirements.txt
update_env.sh
